.container{
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 282px;
    background-color: var(---gris);
    display: flex;
    flex-direction: column;
}

.image{
    width: 100%;
}

.link{
    text-decoration: none;
    color: black;
}

.icon{
    display: flex;
    width: 2em;
    margin-bottom: 0;
    align-self: center;
}